<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/QuantaBU12/QOCA_ATM/raw/main/002_59.125.14.81_172.30.0.73_qocaatm.vghtc.gov.tw_VGHTC/V.2.4.0.20230919/QOCA_QTMED.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.quanta.bu12.qocaatm</string>
				<key>bundle-version</key>
				<string>2.4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>QOCA ATM</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
